html {
  font-family: system-ui;
  overflow: hidden;
  background-color: #ffeeb8;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
}

.logo {
  text-align: center;
  width: 200px;
}
body {
  /*body text*/
  font-size: 20px;
}
.front {
  /*these are the buttons*/
  border-radius: 100%;
  background-color: #32a722;
  color: white;
  border-width: 0px;
  height: 50px;
  width: 50px;
  font-size: 30px;
}
.back {
  border-radius: 100%;
  background-color: rgb(112, 112, 112);
  color: white;
  border-width: 0px;
  height: 50px;
  width: 50px;
  font-size: 30px;
}
h3.creator {
  font-size: 18px;
  text-align: left;
  /* color:palevioletred; */
  text-decoration: wavy;
}
div.arrows {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
img {
  border-radius: 50px;
}
.logo {
  border-radius: 0px;
  }
#home_img {
  height: 20px;
}
.pulse-button {
  /* Button default styles, customize them to match your button */
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  /* Apply the pulse animation */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
